DATA TYPE AND STRUCTURE

1. What are data structures, and why are they important?
   - Data structures are foundational concepts in computer science that define how data is organized, stored, and accessed in a computer system.
  they are important for their efficient data access and optimized performance,problem solving etc.

2. Explain the difference between mutable and immutable data types with examples.
   -  mutable data types are those data in which we can made changes but in immutable data type we can not make any change.
  list are mutable but tuple are immutable.  

3. What are the main differences between lists and tuples in Python?
   -  lists are mutable data type in which we can made any type of change but tuple are immutable data type in which we can not made any type of change.

4. Describe how dictionaries store data.
   - Dictionaries (also known as hash maps in some languages) store data using a structure called key-value pairs.

5. Why might you use a set instead of a list in Python?
   - because sets removes duplicate values automatically but in list duplicate values are allowed.and set have fast lookup speed.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters enclosed in quotes. It’s used to represent text. and sting is defferent from list because string is immutable.

7. How do tuples ensure data integrity in Python?
   -  tuple storing configuraton setting and is representing fixed size records and it have unchangable values,also safe data transfer.

8. What is a hash table, and how does it relate to dictionaries in Python?
   -  A hash table is a powerful data structure that stores data in an associative manner using key-value pairs, and it's the underlying mechanism that powers dictionaries in Python.

9. Can lists contain different data types in Python?
   -  Yes, lists contain different data types in python.

10. Explain why strings are immutable in Python.
    -  strings are immutable in python because string is store data in characters which is unchangable.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries in Python offer several powerful advantages over lists, especially when your task involves associating data with unique identifiers or fast lookups.

12. Describe a scenario where using a tuple would be preferable over a list.   
    -  tuples are preferable over list due to its immutability and we can use it as a key in dictionary to store metadata.

13. How do sets handle duplicate values in Python?
    -  When you create a set, Python checks each item and only keeps unique values. If a duplicate is found, it's silently discarded.

14. How does the “in” keyword work differently for lists and dictionaries?    
    -  When used with a list, in checks whether a value exists in the list but when used in dictionary "in" checks whether a key exists-not value.

15. Can you modify the elements of a tuple? Explain why or why not?  
    -  NO, we can not modify the elments in a tuple.because tuples are immutable data types.

16. What is a nested dictionary, and give an example of its use case?
    -  A nested dictionary in Python is a dictionary where values themselves are dictionaries. It's a way to represent hierarchical or structured data, like records within records.
   
17. Describe the time complexity of accessing elements in a dictionary.
    -  direct lookup using the key's hash value and checks if the key exists using hashing.

18. In what situations are lists preferred over dictionaries?
    -  Lists are preferred over dictionaries in Python when your data is ordered, indexed, or doesn't require key-based access.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    -  Dictionaries in Python were traditionally considered unordered because they did not guarantee the order in which key-value pairs were stored or retrieved.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    -  lists retrieve elements using their positionehich is starting from 0.
  but in dictionary retrieve values using unique keys not by position.

In [2]:
#1.Write a code to create a string with your name and print it.
my_name = "Nishant"
print("my name is",my_name)

my name is Nishant

In [4]:
#2.Write a code to find the length of the string "Hello World"?
string = "Hello World"
len(string)

11

In [5]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
a = "Python Programming"
b = a[:3]
print(b)

Pyt

In [6]:
#4.Write a code to convert the string "hello" to uppercase.
a = "hello"
b = a.upper()
print(b)

HELLO

In [7]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = "I like apple"
b = a.replace("apple","orange")
print(b)

I like orange

In [9]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
num = list(range(1,6))
print(num)

[1, 2, 3, 4, 5]

In [10]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [12]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [14]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [17]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [18]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [50]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [22]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [24]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [25]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [26]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {"a","b","c"}
print(set)

{'b', 'c', 'a'}

In [27]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [28]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [30]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [32]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [33]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name":"Nishant","age":22,"city":"Lucknow"}
print(dict)

{'name': 'Nishant', 'age': 22, 'city': 'Lucknow'}

In [34]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [36]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [37]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [38]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
print(list)
tuple = (1,2,3,4,5)
print(tuple)
dict = {"name":"Nishant","age":22,"city":"Lucknow"}
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Nishant', 'age': 22, 'city': 'Lucknow'}

In [42]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
list = []
for i in range(5):
    list.append(random.randint(1,100))
list.sort()
print(list)

[45, 46, 63, 81, 97]

In [43]:
#28.Write a code to create a list with strings and print the element at the third index.
list = ["apple","banana","kiwi","orange","mango"]
print(list[3])

orange

In [44]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name":"Nishant","age":22}
dict2 = {"city":"Lucknow","country":"India"}
dict1.update(dict2)
print(dict1)

{'name': 'Nishant', 'age': 22, 'city': 'Lucknow', 'country': 'India'}

In [48]:
#30.Write a code to convert a list of strings into a set.
list = ["apple","banana","kiwi","orange","mango"]
my_set = my_set(list)
print(my_set)

NameError: name 'my_set' is not defined